<% include ./header_ex.ejs %>
    <section id="career" class="career section">
        <div class="container">
            <div class="career-inner">
            <h2 class="title text-center">Career</h2>
                <div class="info">
                    <h2>Junghwan Yang</h2> 
                    <p><strong>Web Development Consultant at Lavasoft</strong></p>
                    <a href="mailto:kellerj87@hotmail.com">kellerj87@hotmail.com</a>
                    <hr>
                    <h4>Experience</h4>
                    <p><strong>Web Development Consultant at Lavasoft</strong></p>
                    <p>January 2017 - Present</p>
                    <ul>
                        <li>Refactoring statistic site's structure using php, javascript</li>
                        <li>Changing database from MySQL to Microsoft SQL</li>
                    </ul>
                    <p><strong>Front-End Developer Intern at Lavasoft</strong></p>
                    <p>September 2016 - December 2016</p>
                    <ul>
                        <li> Integrated web pages including Ad-block to lavasoft.com using php, javascript, html and css</li>
                        <li>Suggested new data object structure for SearchHelper Chrome extension</li>
                        <li>Migrated SearchHelper Chrome extension to Firefox as Web-extension format</li>
                        <li>Modified own statistic site in Lavasoft to show data clearly using php, MySQL, javascript, and css</li>
                    </ul>
                    <p><strong>Software Developer Intern at Petlink</strong></p>
                    <p>April 2015 - August 2015</p>
                    <ul>
                        <li> Extensive experience working on projects developing CSS and AngularJS API codes/sources using MongoDB, Express.JS, Angular.JS, Node.JS(MEAN) Stack</li>
                        <li> Experienced using JIRA task management and Bitbucket version controller</li>
                    </ul>
                    <p><strong>Junior Etch Engineer at SK hynix</strong></p>
                    <p>January 2014 - April 2015</p>
                    <ul>
                        <li> Involved in developing hardware components for usage as memory devices; computers, smartphones, High-K metal gate semiconductor and 2x nm DRAM semiconductor</li>
                        <li>Full scholarship award for 5 semesters from SK Hynix</li>
                    </ul>
                    <p><strong>Engineering Development Intern at Samsung Electro-Mechanics</strong></p>
                    <p>July 2013 - August 2013</p>
                    <ul>
                        <li>Assisted in the development hardware projects; tested electric adapters for TV and fridge systems</li>
                        <li>Developed a solution for quality improvement; new hardware model connecting electronic parts</li>
                    </ul>
                    <hr>
                    <h4>Education</h4>
                    <p><strong>Georgian College</strong></p>
                    <p>Diploma, Computer Programming/Programmer, General, 2016 - 2017</p>
                    <p><strong>Sungkyunkwan University</strong></p>
                    <p>Bachelor's degree, advanced material science and engineering, 2007 - 2014</p>
                    <hr>
                    <h4>Volunteer Experience</h4>
                    <p><strong>Working at a special needs school at Seoul Kwangjin school</strong></p>
                    <p>September 2008 - October 2010</p>
                    <ul><li>Supported students with special needs: listening skills, physical exercises, and outside activities</li></ul>
                </div><!--//info-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
<% include ./footer.ejs %>