<!-- 
//File name: contact.ejs
//Author's name: Junghwan Yang
//web site name: www.junghwanyang.me
//file description: contact page view -->
<% include ./header_ex.ejs %>
    <section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Contact</h2>
            <p class="intro  text-center">I hope that my web site helped you to find what you want.<br /> I would like to talk about new opportunities. If you need anything from me,<br />Feel free to get in touch if you have any questions or suggestions. <br />You're always welcomed and I'm waiting for your contact.</p>
            
            <hr>
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Get Connected</h4>
                <ul class="social-icons list-inline">
                    
                    <li><a href="https://www.facebook.com/maluiso" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://ca.linkedin.com/in/junghwanyang"><i class="fa fa-linkedin"></i></a></li>
                    
                    <li class="last"><a href="mailto:kellerj87@hotmail.com"><i class="fa fa-envelope"></i></a></li>              
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section>

<% include ./footer.ejs %>