<!-- 
//File name: footer.ejs
//Author's name: Junghwan Yang
//web site name: www.junghwanyang.me
//file description: footer for every page -->
		<footer class="footer">
		    <div class="container text-center">
		        <small class="copyright">Designed by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
		        <small class="copyright">Integrated by <a href="https://ca.linkedin.com/in/junghwanyang" target="_blank">Junghwan Yang</small>
		    </div><!--//container-->
		</footer>
	</body>
</html>

