<% include ./header_ex.ejs %>
<section id="projects" class="projects section">
    <div class="container">
        <div class="projects-inner">
            <h2 class="title text-center">Projects</h2>            
            <div class="block">
                <h3 class="sub-title text-center">Portfolio Web Site</h3>
                <p>This web site is made using MEAN stack. Hosting to Heroku and mlab</p>
                <ul class="list-unstyled">
                    <li><strong>Theme: </strong>devAid with bootstrap</li>
                    <li><strong>Stack: </strong>MongoDB, Angular2, ExpressJs, NodeJs + ejs Template, JQuery</li>
                </ul>
                <br />
                <div class='row'>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img class="img-responsive center-block" src="./images/portfolio.png" alt="">
                        <small>Portfolio Web site</small>
                    </div>
                </div>
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Sharp Auto Form</h3>
                <p>This application is a simple calculator based on auto's price, options, tax, and trade-in-allowance</p>
                <ul class="list-unstyled">
                    <li><strong>Theme: </strong>basic windows form</li>
                    <li><strong>Stack: </strong>Windows Form - C#</li>
                </ul>
                <br />
                <div class='row'>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img class="img-responsive center-block" src="./images/sharpautoform.png" alt="">
                        <small>Sharp Auto Form</small>
                    </div>
                </div><!--//code-block-->
            </div><!--//block-->
            <hr>
            <!-- <div class="block">
                <h3 class="sub-title text-center">Datarous site</h3>
                <p>Lavasoft's statistic site.</p>
                 <ul class="list-unstyled">
                    <li><strong>Theme: </strong>origianl design with bootsrap</li>
                    <li><strong>Languages: </strong>Javascript, php, MySQL</li>
                </ul>
                <small>Shouldn't show because of the company's policy</small>
                
            </div>--><!--//block-->
            <div class="block">
                <h3 class="sub-title text-center">Full School Codes</h3>
                <p class="text-center">If you want to see what I did in school so far, most of codes are on my github from my school.</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/Yanghwa" target="_blank">More on GitHub</a>
                </p>
            </div><!--//block-->
            
        </div><!--//projects-inner-->         
    </div><!--//container-->
</section>
<% include footer.ejs %>
    <!-- /.container -->