
    <% include ./partials/header.ejs %>
    <my-app><div class="loading_screen" style="width:480px;height:500px;margin:0 auto;padding-top:10%;padding-bottom:5%;background-image:url('./images/loading.gif');background-size:contain;background-repeat:no-repeat;background-position:center" ></div></my-app>
    <% include ./partials/footer.ejs %>
 
<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->