<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">Junghwan<span class="highlight">Yang</span></h2>
        <p class="intro">Self Taught Developer who is competent, logical and capable of working independently and within a team.</p>
        <div class="btns">
            <a class="btn btn-cta-secondary" href="/career" target="">More About Me</a>
            <a class="btn btn-cta-primary" href="" target="_blank">Download Resume</a>
        </div>
    </div><!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">
                <li class="">
                    <a href="mailto:kellerj87@hotmail.com" target="_blank">
                        <i class="fa fa-envelope fa-3x"></i>
                    </a>
                </li>
                <li class="">
                    <a href="https://ca.linkedin.com/in/junghwanyang" target="_blank">
                        <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li class="github-star">
                    <a href="https://github.com/Yanghwa" target="_blank">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="github-star">
                    <a href="https://www.facebook.com/maluiso" target="_blank">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>